.container {
    background-color: #ffffff;
    padding-bottom: 30px;
    height: 105vh;
}

.container h1 {
    font-size: 42px;
    color: #353AAC;
    margin-bottom: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-left: 40px;
}

.content {
    text-align: center; 
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    gap: 0px; 
    height: 80vh;
}

.yandexmap {
    margin-left: 80px;
    flex: 1; 
    border-radius: 50px;
    max-width: 50%; 
}

.cards {
    margin-right: 50px;
    flex: 1; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 5px;
    max-width: 50%; 
    position: relative;
    z-index: 1;
}



.gradient {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.gradient1 {
    position: absolute;
    right: -377px;
    top: -110px;
}



.gradient2 {
    position: absolute;
    right: -377px;
    top: -190px;
}


.loading {
    color: black ;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

