.container {
    background-color: #ffffff;
    padding-bottom: 30px;
}

.container h1 {
    font-size: 42px;
    color: #ce401c;
    margin-bottom: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-left: 40px;
}

.content {
    text-align: center; /* Центрируем весь контент */
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: row; /* Размещаем блоки в строку */
    justify-content: space-between; /* Разделяем на равное расстояние */
    align-items: center; /* Выравниваем по вертикали */
    gap: 0px; /* Отступ между блоками */
    height: 80vh; /* Растягиваем контейнер на высоту экрана */
}

.yandexmap {
    margin-left: 80px;
    flex: 1; /* Карта занимает равное пространство */
    border-radius: 50px;
    max-width: 50%; /* Ограничиваем ширину карты */
}

.cards {
    margin-right: 50px;
    flex: 1; /* Карточки занимают равное пространство */
    display: flex;
    flex-direction: row; /* Карточки в ряд */
    flex-wrap: wrap; /* Переносим карточки на следующую строку при необходимости */
    justify-content: space-evenly; /* Равномерное распределение карточек */
    gap: 5px; /* Расстояние между карточками */
    max-width: 50%; /* Ограничиваем ширину */
    position: relative;
    z-index: 1;
}



.gradient {
    pointer-events: none;
    position: absolute;
    width: 770px;
    height: 561px;
    right: 135px;
    top: -90px;
    z-index: -1;
    object-fit: cover;
}

.gradient1 {
    position: absolute;
}



.gradient2 {
    position: absolute;
}
