.container {
    background-color: #ffffff;
    padding-bottom: 30px;
    height: 100vh;
}

.container h1 {
    font-size: 42px;
    color: #353AAC;
    margin-bottom: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-left: 40px;
}

.content {
    text-align: center; /* Центрируем весь контент */
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: row; /* Размещаем блоки в строку */
    justify-content: space-between; /* Разделяем на равное расстояние */
    align-items: center; /* Выравниваем по вертикали */
    gap: 0px; /* Отступ между блоками */
    height: 80vh; /* Растягиваем контейнер на высоту экрана */
}

.yandexmap {
    margin-left: 80px;
    flex: 1; /* Карта занимает равное пространство */
    border-radius: 50px;
    max-width: 50%; /* Ограничиваем ширину карты */
}

.cards {
    margin-right: 50px;
    flex: 1; /* Карточки занимают равное пространство */
    display: flex;
    flex-direction: row; /* Карточки в ряд */
    flex-wrap: wrap; /* Переносим карточки на следующую строку при необходимости */
    justify-content: space-evenly; /* Равномерное распределение карточек */
    gap: 5px; /* Расстояние между карточками */
    max-width: 50%; /* Ограничиваем ширину */
    position: relative;
    z-index: 1;
}



.gradient {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.gradient1 {
    position: absolute;
    right: -377px;
    top: -110px;
}



.gradient2 {
    position: absolute;
    right: -377px;
    top: -190px;
}


.loading {
    color: black ;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

