@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.review {
  background-color: #ffffff;
  height: 50vh;
  padding-top: 100px;
}

.review h2 {
  font-size: 42px;
  color: #353AAC;
  margin-bottom: 50px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-left: 40px;
  
}

.review_card {
  border: 1.5px solid #FFE3CA;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* text-align: center; */
  background-color: #ffffff;
}

.avatar {
  border-radius: 50%;
  border: 1.5px solid #FFE3CA;
  width: 60px;
  object-fit: cover;
}

.review_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.review_author h3{
  color: #3C4563;
  font-size: 18px;
}

.review_author p{
  color: #888B97;
  font-size: 14px;
}

.review_header div {
  margin-left: 15px;
}

.review_text {
  margin-bottom: 15px;
  color: #3C4563;
  font-size: 16px;
}

.review_rating {
  margin-bottom: 15px;
  color: #3C4563;
  font-size: 16px;
}

.review_place {
  margin-bottom: 0;
  color: #3C4563;
  font-size: 16px;
}

.fa-star {
  color: #d3d3d3; 
  font-size: 20px;
}

.fa-star.checked {
  color: #ffd700; 
}

.carousel_container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.carousel_cards {
  width: 80%;
  position: relative;
}

.slider {
  left: 20px;
}

.slide {
  margin: 0 0; 
}

.button_back,
.button_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.button_back {
  left: -150px; 
}

.button_next {
  right: -140px;
}

.arrow {
  height: 120px;
}
