@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.footer {
    background: white;
    width: 100vw;
    height: 60vh;
    padding: 40px 0;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 100px auto -50px auto; /* Increased top margin */
}

.left__info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start horizontally */
}

.info p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #888B97;
    width: 65%;
    line-height: 2;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.right_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0;
}

.property, .article, .contact {
    margin-left: 40px;
}

.property h1, .article h1, .contact h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #3C4563;
}

.property a, .article a, .contact a, .contact p {
    text-decoration: none;
    color: #888B97;
    font-size: 16px;
    margin-bottom: 15px;
    display: block;
    line-height: 1.6;
}

.contact a {
    margin-bottom: 10px;
}


.gradient {
    pointer-events: none;
    position: relative; 
    z-index: -1;
    object-fit: cover;
}

.gradient1,
.gradient2,
.gradient3,
.gradient4 {
    position: absolute;
}


.gradient1 {
    left: 0%; 
    top: -64px;

}

.gradient2 {
    left: 0%;
    top: 201px;
}


.gradient3 {
    right: 0%; 
    top: 108px;
}

.gradient4 {
    right: 0%;
    top: 44px;
}
